@import '../mixins/drop-shadows.scss';

.module {
  margin: 4rem 0;
  border-radius: 10px;
  background: white;
  // display: flex;
  // flex-direction: column;
  @include box_shadow(1);
  .module-header {
    padding: 2rem 0 1rem 2rem;
    text-align: left;

    border-radius: 10px 10px 0 0;
    .module-heading {
      color: $gray4;
      font-weight: 700;
      display: inline;
      margin: 0 1rem 0 0;
    }
  }
}

.form-input {
  background: white;
  border: 1px solid $primary-color;
  padding: 0.4rem 0.4rem 0.4rem 0.8rem;
  border-radius: 4px;
  font-size: 1rem;
  color: $black;
}
