@import '../mixins/drop-shadows.scss';

.module {
  display: block;
  margin: 0 0 2rem 0;
  border-radius: 10px;
  background: white;
  padding-bottom: 0.5rem;
  @include box_shadow(1);
  .module-header {
    padding: 2rem 2rem 1rem 2rem;
    text-align: left;

    border-radius: 10px 10px 0 0;
    .module-heading {
      font-family: interstate, sans-serif;
      font-weight: 700;
      font-style: normal;
      color: $gray4;
      display: inline;
      margin: 0 1rem 0 0;
    }
  }
}

.form-input {
  font-family: interstate, sans-serif;
  font-weight: 500;
  font-style: normal;
  border: 1px solid $gray2;
  background: $gray2;
  color: $black;
  padding: 0.4rem 0.4rem 0.4rem 0.8rem;
  border-radius: 20px;
  font-size: 1rem;
  transition: background 250ms ease-in-out;
  &:focus,
  :active {
    border: 1px solid $primary-color;
    outline: none;
  }
  &:focus,
  :active .search-box {
    background: white url('../assets/search.svg') 12px center no-repeat;
  }
  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $gray4;
    opacity: 1; /* Firefox */
  }
  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $gray4;
  }
  &::-ms-input-placeholder {
    color: $gray4;
  }
}

.search-box {
  background: $gray2 url('../assets/search.svg') 12px center no-repeat;
  padding-left: 2.6rem;
  width: 100%;
  margin: 1rem 0rem 0rem 0rem;
  @media screen and (min-width: 750px) {
    width: auto;
    margin: 0;
  }
}
