table.standings {
  width: 100%;
  table-layout: fixed;
  overflow: hidden;
  border-collapse: collapse;

  th {
    padding: 1rem;
    color: $gray4;
    text-align: left;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    &.number {
      text-align: right;
      padding: 0.5rem 2.5rem 0.5rem 1rem;
      &:first-of-type {
        padding: 0.5rem;
      }
    }
  }
  td {
    color: $black;
    text-align: left;
    padding: 0.5rem 1rem;
    &.number {
      position: relative;
      text-align: right;
      padding: 0.5rem 2.5rem 0.5rem 0px;
      &:first-of-type {
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
      }
    }
    & strong {
      font-weight: 700;
      font-style: normal;
    }
  }
  tr:last-of-type > td {
    padding-bottom: 2rem;
  }
}

.icon-holder {
  position: relative;
}

.limiter {
  display: none;
  padding: 0;
  width: 2%;
  @media screen and (max-width: 900px) {
    display: table-cell;
  }
}

@media screen and (max-width: 900px) {
  table.standings {
    font-size: 0.825rem;
    th,
    th.number,
    td,
    td.number {
      padding: 1rem 1rem 0.5rem 1rem;
    }

    .nat {
      display: none;
    }
  }
}
