table.standings {
  overflow: hidden;
  border-collapse: collapse;
  max-width: 800px;
  th {
    padding: 1rem;
    color: $gray4;
    text-align: left;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    &.number {
      text-align: right;
      padding: 0.5rem 2.5rem 0.5rem 0px;
      &:first-of-type {
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
      }
    }
  }
  td {
    color: $black;
    text-align: left;
    padding: 0.5rem 1rem 0.5rem 1rem;
    &.number {
      position: relative;
      text-align: right;
      padding: 0.5rem 2.5rem 0.5rem 0px;
      &:first-of-type {
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
      }
    }
    &:last-of-type {
      margin-bottom: 20px;
    }
  }
}
