table.standings {
  overflow: hidden;
  border-collapse: collapse;
  max-width: 800px;
  th {
    padding: 20px;
    color: $gray4;
    text-align: left;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    &.number {
      text-align: right;
      padding: 10px 40px 10px 0px;
      &:first-of-type {
        padding: 10px 10px 10px 10px;
      }
    }
  }
  td {
    color: $black;
    text-align: left;
    padding: 10px 20px 10px 20px;
    &.number {
      text-align: right;
      padding: 10px 40px 10px 0px;
      &:first-of-type {
        padding: 10px 10px 10px 10px;
      }
    }
  }
}
