$line-height: 1.5;
@import url('https://use.typekit.net/ihq4ork.css');
html,
body {
  font-family: interstate, sans-serif;
}
body {
  font-size: 18px;
  box-sizing: border-box;
  line-height: $line-height;
}
#app {
  font-family: interstate, sans-serif;
}
h2 {
  font-family: interstate, sans-serif;
  color: #49507e;
  font-size: 1.825rem;
  font-weight: 700;
}

h3 {
  font-size: 1.25rem;
}

button {
  font-family: interstate, sans-serif;
}
