// FONTS

// regular
@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter.ttf') format('truetype');
  src: url('/assets/fonts/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
}

// medium
@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter.ttf') format('truetype');
  src: url('/assets/fonts/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
}

// extra bold
@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter.ttf') format('truetype');
  src: url('/assets/fonts/Inter-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}

// VARIABLES
$line-height: 1.5;

:root {
  --main-font: 'Inter', sans-serif;
}

html,
body {
  font-family: var(--main-font);
  font-weight: 400;
}
body {
  font-size: 18px;
  box-sizing: border-box;
  line-height: $line-height;
}

strong {
  font-weight: 800;
}

#app {
  font-family: var(--main-font);
}

// HEADING STYLING
h2 {
  color: $black;
  font-size: 1.825rem;
  font-weight: 700;
}

h3 {
  font-size: 1.25rem;
}
